/.idea
/lecture/MNIST_data
/application/application_blood/data
/application/application_blood/output
/application/application_blood/old
/application/application_water(cross-fold)/model/__pycache__/
/application/application_water(cross-fold)/confusion_matrix
/application/application_water(cross-fold)/logs
/application/application_water(cross-fold)/data
/application/application_water(cross-fold)/output
/output
/confusion_matrix
/logs
/application/Breast-Ultrasound-Images-classification/Dataset_BUSI_with_GT